body {
    font-family: "Roboto",sans-serif;
    background-color: rgb(224, 224, 250);
}

img {
    object-fit: contain;
    max-width: 400px;
    max-height: 200px;
    border-radius: 9px;
}

main {
    display: flex;
    flex-direction: column;
align-items: center;
padding-block: 6rem;
}

section {
    display: flex;
    flex-direction: column;
align-items: center;
    border-radius: 1rem;
background-color: white;
max-width: 225px;
height: 370px;
text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-inline: 11px;
    padding-bottom: 1rem;
}

.scan-qr-code {
    font-size: small;
    color: rgb(136, 123, 123);
}

.test_skill {
    font-weight: 600;
}